server:
  port: 9000

spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8700/realms/yads
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service-route
              uri: lb://USER-SERVICE
              predicates:
                - Path=/user-service/**
              filters:
                - StripPrefix=1

            - id: store-service-route
              uri: lb://STORE-SERVICE
              predicates:
                - Path=/store-service/**
              filters:
                - StripPrefix=1

            - id: order-service-route
              uri: lb://ORDER-SERVICE
              predicates:
                - Path=/order-service/**
              filters:
                - StripPrefix=1

            - id: courier-service-route
              uri: lb://COURIER-SERVICE
              predicates:
                - Path=/courier-service/**
              filters:
                - StripPrefix=1

            - id: notification-service-route
              uri: lb://NOTIFICATION-SERVICE
              predicates:
                - Path=/notification-service/**
              filters:
                - StripPrefix=1

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: "http://zipkin:9411/api/v2/spans"