spring:
  application:
    name: store-service


  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        prefetch: 10
        retry:
          enabled: true
          max-attempts: 3
          initial-interval: 1000ms
          multiplier: 2
          max-interval: 10000ms

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8700/realms/yads

  datasource:
    url: jdbc:postgresql://localhost:5432/store_service_db
    username: postgres
    password: password
    hikari:
      maximum-pool-size: 30
      minimum-idle: 5
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: update



eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/


server:
  port: 8081