spring:
  application:
    name: store-service


  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8700/realms/yads

  datasource:
    url: jdbc:postgresql://localhost:5432/store_service_db
    username: postgres
    password: password

  jpa:
    hibernate:
      ddl-auto: update


# Logging Configuration
logging:
  level:
    root: INFO
    com.yads.storeservice: INFO
    com.yads.storeservice.exception: INFO
    com.yads.storeservice.services: DEBUG
    org.springframework.web: WARN
    org.hibernate.SQL: WARN
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  file:
    name: logs/store-service.log
    max-size: 10MB
    max-history: 30


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/


server:
  port: 8081