name: yads ci/cd pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    strategy:
      matrix:
        service: [yads/eureka, yads/api-gateway, yads/store-service, yads/order-service, yads/user-service, yads/courier-service, yads/notification-service]

    steps:
    - uses: actions/checkout@v4

    - name: set up jdk 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'maven'

    - name: build service jar
      run: mvn -B package -pl ${{ matrix.service }} -am -DskipTests

    # Login to AWS
    - name: configure aws credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    # Login to Amazon ECR
    - name: login to amazon ecr
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    # Build and push Docker image
    - name: build and push docker image
      uses: docker/build-push-action@v5
      with:
        context: ./${{ matrix.service }}
        file: ./Dockerfile
        push: true
        tags: ${{ steps.login-ecr.outputs.registry }}/${{ matrix.service }}:latest
        build-args: |
          JAR_FILE=target/*.jar